/* common Styles */
body{
    font-family:'Work Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    
}

/* Navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;
}
.navbar-img{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-img img{
    width: 41.16px;
    height: 39.25px;
}
.navbar-img h3{
    font-size:1.75rem;
}
.navbar-tag{
    display: flex;
    gap: 30px;
}
.navbar-tag li{
    list-style: none;
}
.navbar-tag  li a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(66, 66, 71);
    font-weight: 400;
    line-height: 23px;
}
.font-awsome{
    display: none;
    list-style: none;
}
.banner{
    background-image:linear-gradient(0deg,#00000085 0%,rgba(8, 10, 30, 0.544) 100% ), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-left: 130px;
    margin-right: 130px;
    border-radius: 10px;
    justify-content: center;
    
}
.banner-title h3{
    color: rgb(255, 255, 255);
    font-size: 55px;
    font-weight: 800;
    text-align: center;
    padding-top: 80px;
    padding-bottom:0px;

}
.banner-title p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding-top: 0px;
    padding-bottom:2px;

}
.banner-type{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.3);
    height: 70px;
    margin: 0 160px;
    border-radius: 10px;
    
}
.banner-type input{
    width: 164px;
    height: 32px;
    border-radius: 10px;
}
.banner-type button{
    border-radius: 8px;
    background: rgb(255, 84, 0);
    width: 134px;
    height: 42px;
    color: white;
    font-size: 16px;
}
.container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin: 120px 130px;
}
.container-description h3{
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 0px;
}
.container-description {
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top:0px ;

}
.container-description ul li{
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top:10px ;
}
.container-description button{
    border-radius: 8px;
    background: rgb(255, 84, 0);
    width: 174px;
    height: 52px;
    color: aliceblue;
}
.container-description h3{
    font-size: 30px;
}
.container-img img{
    width: 540px;
    height: 550px;
}
.title h3{
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    margin-top: 100px;
    margin-bottom: 0px;
    text-align: center;
}
.title p{
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.item-first{
    display: flex;
    gap: 10px;
    margin: 0px 80px;

}
.item-1{
    background-image:linear-gradient(0deg,#00000085 0%,rgba(8, 10, 30, 0.544) 100% ), url(../Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-left: 25px;
    width:100%;
    height: 300px;
    margin-top: 30px;
}
.item-1 h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    margin-top: 130px;
}
.item-2{
    background-image:linear-gradient(0deg,#00000085 0%,rgba(8, 10, 30, 0.544) 100% ), url(../Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-left: 15px;
    width: 100%;
    height: 300px;
    margin-top: 30px;
}
.item-2 h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
   margin-top: 130px;
}
.item-second{
    display: flex;
    gap: 10px;
   margin: 0 90px;
}
.item-3{
    background-image:linear-gradient(0deg,#00000085 0%,rgba(8, 10, 30, 0.544) 100% ), url(../Images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-left: 15px;
    width:1465px;
    height: 285px;
    margin-top: 15px;
}
.item-3 h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    margin-top: 130px;
}
.item-4{
    background-image:linear-gradient(0deg,#00000085 0%,rgba(8, 10, 30, 0.544) 100% ), url(../Images/Rectangle\ 7.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-left:10px;
    width:1910px;
    height: 285px;
    margin-top: 15px;
}
.item-4 h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
   margin-top: 130px;
}
.item-5{
    background-image:linear-gradient(0deg,#00000085 0%,rgba(8, 10, 30, 0.544) 100% ), url(../Images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-left: 15px;
    width:1100px;
    height: 285px;
    margin-top: 10px;
}
.item-5 h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
   margin-top: 130px;
}
.item-thrid{
    display: flex;
    gap: 10px;
    margin: 0px 90px;
}
.item-6{
    background-image:linear-gradient(0deg,#00000085 0%,rgba(8, 10, 30, 0.544) 100% ), url(../Images/Rectangle\ 11.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-left:20px;
    width:1110px;
    height: 285px;
    margin-top: 10px;
}
.item-6 h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
   margin-top: 130px;
}
.item-7{
    background-image:linear-gradient(0deg,#00000085 0%,rgba(8, 10, 30, 0.544) 100% ), url(../Images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-left: 16px;
    width:1540px;
    height: 285px;
    margin-top: 10px;
}
.item-7 h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
   margin-top: 130px;
}



/* moble device */
@media screen and (max-width:576px){
    
    .navbar{
        padding: 20px;
    }
    .navbar-tag{
        display: none;
        gap: 5px;
    }
    .font-awsome{
        font-size: 30px;
        display:flex;
        list-style: none;
    }
    .banner{
        margin-left: 10px;
        margin-right: 10px;
    }
    .banner-title h3{
        font-size: 35px;
        padding-top: 60px;
    }
    .banner-title p{
        font-size: 14px;
        padding-left: 90px;
        padding-right: 90px;
    }
    .banner-type{
        display: flex;
        flex-direction: column;
        height: 240px;
        margin: 0 100px;
    }
    .banner-type input{
        width: 264px;
        
    }
    .container{
        display: flex;
        flex-direction: column;
        margin:120px 20px ;
    }
    .container-img img{
        width: 100%;
        height: 550px;
    }
    .title h3{
        font-size: 30px;
    }
    .title p{
        font-size:20px;
        margin-left: 10px;
    }
    .item-first{
        display: flex;
        flex-direction: column;
        width: 92%;
        justify-content: space-around;
        margin-left:3px;
        margin-right: 10px;
    
    }
    .item-2{
        margin-left: 25px;
    }
    .item-second{
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        margin-left: 25px;
    }
    .item-3{
        margin-left: 5px;
        background-size: cover;
        width:97%;
        height: 285px;
    }
    .item-4{
        margin-left: 5px;
        background-size: cover;
        width:97%;
        height: 285px;
    }
    .item-5{
        margin-left: 5px;
        background-size: cover;
        width:97%;
        height: 285px;
    }
    .item-thrid{
        display: flex;
        flex-direction:column;
        margin-right: 10px;
        margin-left: 25px;
    }
    .item-6{
        margin-left: 5px;
        background-size: cover;
        width:97%;
        height: 285px;
    }
    .item-7{
        margin-left: 5px;
        background-size: cover;
        width:97%;
        height: 285px;
    }
}
   /* table style  */
@media screen and (min-width:577px) and (max-width:992px){
    .navbar{
        padding: 20px;
    }
    .navbar-tag{
        display: none;
        gap: 5px;
    }
    .font-awsome{
        font-size: 30px;
        display:flex;
        list-style: none;
    }
    .banner{
        margin-left: 10px;
        margin-right: 10px;
    }
    .banner-title h3{
        font-size: 45px;
        padding-top: 30px;
    }
    .banner-title p{
        font-size: 14px;
        padding-left: 120px;
        padding-right: 120px;
    }
    .banner-type{
        display: flex;
        flex-direction: column;
        height: 270px;
        margin: 0 140px;
    }
    .banner-type input{
        width: 364px;
        height: 50px;
        
    }
    .banner-type button{
        width: 364px;
        height: 50px;
    }
    .container{
        display: flex;
        flex-direction: column;
        margin:120px 20px ;
    }
    .container{
        display: flex;
        flex-direction: column;
        margin:120px 20px ;
    }
    .container-img img{
        width: 100%;
        height: 550px;
    }
    .title h3{
        font-size: 30px;
    }
    .title p{
        font-size:20px;
    }
    .item-first{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 15px;
        margin-left: 15px;
        
    
    }
    .item-1{
        margin-left: 5px;
        background-size: cover;
        width:97%;
    }
    .item-2{
        margin-left: 5px;
        background-size: cover;
        width:97%;
    }
    .item-second{
        display: flex;
        flex-direction: column;
        /* margin-right: 60px;
        margin-left: 25px; */
        align-items: center;
        margin-right: 15px;
        margin-left: 15px;
    }
    .item-3{
        margin-left: 5px;
        background-size: cover;
        width:97%;
        height: 285px;
    }
    .item-4{
        margin-left: 5px;
        background-size: cover;
        width:97%;
        height: 285px;
    }
    .item-5{
        margin-left: 5px;
        background-size: cover;
        width:97%;
        height: 285px;
    }
    .item-thrid{
        display: flex;
        flex-direction:column;
        margin-right: 10px;
        margin-left: 25px;
    }
    .item-6{
        margin-left: 5px;
        background-size: cover;
        width:97%;
        height: 285px;
    }
    .item-7{
        margin-left: 5px;
        background-size: cover;
        width:97%;
        height: 285px;
    }
}