/* common Styles */
body{
    font-family:'Work Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    
}

/* Navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;
}
.navbar-img{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-img img{
    width: 41.16px;
    height: 39.25px;
}
.navbar-img h3{
    font-size:1.75rem;
}
.navbar-tag{
    display: flex;
    gap: 30px;
}
.navbar-tag li{
    list-style: none;
}
.navbar-tag  li a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(66, 66, 71);
    font-weight: 400;
    line-height: 23px;
}
.font-awsome{
    display: none;
    list-style: none;
}
.banner{
    background-image:linear-gradient(0deg,#00000085 0%,rgba(8, 10, 30, 0.544) 100% ), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-left: 130px;
    margin-right: 130px;
    border-radius: 10px;
    justify-content: center;
    
}
.banner-title h3{
    color: rgb(255, 255, 255);
    font-size: 55px;
    font-weight: 800;
    text-align: center;
    padding-top: 80px;
    padding-bottom:0px;

}
.banner-title p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding-top: 0px;
    padding-bottom:2px;

}
.banner-type{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.3);
    height: 70px;
    margin: 0 160px;
    border-radius: 10px;
    
}
.banner-type input{
    width: 164px;
    height: 32px;
    border-radius: 10px;
}
.banner-type button{
    border-radius: 8px;
    background: rgb(255, 84, 0);
    width: 134px;
    height: 42px;
    color: white;
    font-size: 16px;
}
.container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin: 120px 130px;
}
.container-description h3{
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 0px;
}
.container-description {
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top:0px ;

}
.container-description ul li{
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top:10px ;
}
.container-description button{
    border-radius: 8px;
    background: rgb(255, 84, 0);
    width: 174px;
    height: 52px;
    color: aliceblue;
}
.container-description h3{
    font-size: 30px;
}
.container-img img{
    width: 540px;
    height: 550px;
}
.title h3{
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    margin-top: 100px;
    margin-bottom: 0px;
    text-align: center;
}
.title p{
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.item-first{
    display: flex;
    gap: 10px;
    margin: 0px 80px;

}
.item-1{
    background-image:linear-gradient(0deg,#00000085 0%,rgba(8, 10, 30, 0.544) 100% ), url(../Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-left: 25px;
    width:100%;
    height: 300px;
    margin-top: 30px;
}
.item-1 h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    margin-top: 130px;
}
.item-2{
    background-image:linear-gradient(0deg,#00000085 0%,rgba(8, 10, 30, 0.544) 100% ), url(../Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-left: 15px;
    width: 100%;
    height: 300px;
    margin-top: 30px;
}
.item-2 h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
   margin-top: 130px;
}
.item-second{
    display: flex;
    gap: 10px;
   margin: 0 90px;
}
.item-3{
    background-image:linear-gradient(0deg,#00000085 0%,rgba(8, 10, 30, 0.544) 100% ), url(../Images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-left: 15px;
    width:1465px;
    height: 285px;
    margin-top: 15px;
}
.item-3 h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    margin-top: 130px;
}
.item-4{
    background-image:linear-gradient(0deg,#00000085 0%,rgba(8, 10, 30, 0.544) 100% ), url(../Images/Rectangle\ 7.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-left:10px;
    width:1910px;
    height: 285px;
    margin-top: 15px;
}
.item-4 h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
   margin-top: 130px;
}
.item-5{
    background-image:linear-gradient(0deg,#00000085 0%,rgba(8, 10, 30, 0.544) 100% ), url(../Images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-left: 15px;
    width:1100px;
    height: 285px;
    margin-top: 10px;
}
.item-5 h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
   margin-top: 130px;
}
.item-thrid{
    display: flex;
    gap: 10px;
    margin: 0px 90px;
}
.item-6{
    background-image:linear-gradient(0deg,#00000085 0%,rgba(8, 10, 30, 0.544) 100% ), url(../Images/Rectangle\ 11.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-left:20px;
    width:1110px;
    height: 285px;
    margin-top: 10px;
}
.item-6 h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
   margin-top: 130px;
}
.item-7{
    background-image:linear-gradient(0deg,#00000085 0%,rgba(8, 10, 30, 0.544) 100% ), url(../Images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-left: 16px;
    width:1540px;
    height: 285px;
    margin-top: 10px;
}
.item-7 h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
   margin-top: 130px;
}
.Choose-card{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;

}
.card-1{
    width: 580px;
    height: 284px;
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
    padding-left:50px ;
    margin-left: 120px;
}
.card-1 a i{
    font-size: 50px;
    margin-top: 60px;
}
.card-1 h3{
    color: rgb(19, 19, 24);
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 1px;
}
.card-1 p{
    color: rgb(90, 90, 93);
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}
.card-2{
    width: 580px;
    height: 284px;
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
    padding-left:50px ;
    margin-right: 120px;
}
.card-2 a i{
    font-size: 50px;
    margin-top: 60px;
    color: aqua;
}
.card-2 h3{
    color: rgb(19, 19, 24);
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 1px;
}
.card-2 p{
    color: rgb(90, 90, 93);
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}
.card-3{
    width: 540px;
    height: 284px;
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
    padding-left:50px ;
    margin-left: 410px;
}
.card-3 a i{
    font-size: 50px;
    margin-top: 60px;
    color: rgb(9, 255, 0);
}
.card-3 h3{
    color: rgb(19, 19, 24);
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 1px;
}
.card-3 p{
    color: rgb(90, 90, 93);
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}
.Discounts-card{
    background-image:url(../Images/Group\ 39.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 1140px;
    height: 500px;
    margin-left: 8%;
    position: relative;
}
.Discounts-card-1{
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    width: 510px;
    height: 310px;
    position: absolute;
    left: 48%;
    top: 25%;
}

.card-icon{
    display: flex;
    gap:10px;
}
.card-icon a i{
    color:rgb(255, 84, 0);
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 1px;
}
.card-icon span{
    color:rgb(90, 90, 93);
    padding-left: 15px;
}
.Discounts-card-1 h3{
    color: rgb(19, 19, 24);
    font-size: 24px;
    font-weight: 800;
    padding-left: 20px;
    margin-bottom: 1px;
}
.Discounts-card-1 p{
    color: rgb(90, 90, 93);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    margin-bottom: 1px;
}
.Discounts-card-1 h4{
    color: rgb(255, 84, 0);
    font-size: 20px;
    font-weight: 800;
    padding-left: 20px;
    margin-bottom: 4px;
    margin-top: 4px;
}
.Discounts-card-1 button{
    border-radius: 8px;
    background: rgb(255, 84, 0);
    border: none;
    color: blanchedalmond;
    margin-left: 20px;
    margin-top: 10px;
    width: 150px;
    height: 52px;
}
.Discounts-card-second{
    background-image:url(../Images/Group\ 40.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 1140px;
    height: 500px;
    margin-left: 8%;
    position: relative;
    margin-top: 30px;
}
.Discounts-card-2{
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    width: 510px;
    height: 310px;
    position: absolute;
    left: 4%;
    top: 22%;
}
.card-icon{
    display: flex;
    gap:10px;
}
.card-icon a i{
    color:rgb(255, 84, 0);
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 1px;
}
.card-icon span{
    color:rgb(90, 90, 93);
    padding-left: 15px;
}
.Discounts-card-2 h3{
    color: rgb(19, 19, 24);
    font-size: 24px;
    font-weight: 800;
    padding-left: 20px;
    margin-bottom: 1px;
}
.Discounts-card-2 p{
    color: rgb(90, 90, 93);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    margin-bottom: 1px;
}
.Discounts-card-2 h4{
    color: rgb(255, 84, 0);
    font-size: 20px;
    font-weight: 800;
    padding-left: 20px;
    margin-bottom: 4px;
    margin-top: 4px;
}
.Discounts-card-2 button{
    border-radius: 8px;
    background: rgb(255, 84, 0);
    border: none;
    color: blanchedalmond;
    margin-left: 20px;
    margin-top: 10px;
    width: 150px;
    height: 52px;
}
.Discounts-card-third{
    background-image:url(../Images/Group\ 39.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 1140px;
    height: 500px;
    margin-left: 8%;
    position: relative;
    margin-top: 30px;
}
.Discounts-card-3{
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    width: 510px;
    height: 310px;
    position: absolute;
    left: 48%;
    top: 25%;
}
.card-icon{
    display: flex;
    gap:10px;
}
.card-icon a i{
    color:rgb(255, 84, 0);
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 1px;
}
.card-icon span{
    color:rgb(90, 90, 93);
    padding-left: 15px;
}
.Discounts-card-3 h3{
    color: rgb(19, 19, 24);
    font-size: 24px;
    font-weight: 800;
    padding-left: 20px;
    margin-bottom: 1px;
}
.Discounts-card-3 p{
    color: rgb(90, 90, 93);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    margin-bottom: 1px;
}
.Discounts-card-3 h4{
    color: rgb(255, 84, 0);
    font-size: 20px;
    font-weight: 800;
    padding-left: 20px;
    margin-bottom: 4px;
    margin-top: 4px;
}
.Discounts-card-3 button{
    border-radius: 8px;
    background: rgb(255, 84, 0);
    border: none;
    color: blanchedalmond;
    margin-left: 20px;
    margin-top: 10px;
    width: 150px;
    height: 52px;
}
.Discounts-button{
    margin-left: 550px;
    margin-top: 10px;
}
.Discounts-button button{
    border-radius: 8px;
    background-color: rgb(255, 84, 0);
    border: none;
    color: blanchedalmond;
    margin-left: 20px;
    margin-top: 10px;
    width: 167px;
    height: 50px;
}
.place{
    display: flex;
    gap: 60px;
    margin-left: 130px;
    margin-right: 115px;
    margin-top: 150px;
    justify-items: center;
    justify-content: space-between;
}
.place-1 h2{
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
}
.place-1 p{
    color: rgb(90, 90, 93);
    font-size: 16px;
    font-weight: 400;
}
.place-1 ul li{
    color: rgb(19, 19, 24);
    font-size: 16px;
    font-weight: 700;
}
.place-1 button{
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: white;
    border: none;
    width: 174px;
    height: 52px;
}

/* .place-2{
    background-image: url(../Images/Group\ 40089.png);
    border-radius: 15px;
    width: 630px;
    height: 400px;
    position: relative;
} */
.place-2 h3{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 170px;
}
.place-2 video{
    margin-top: 40px;
    /* position: absolute;
    border-radius: 20px;
    top: 30px; */
}


.news{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
    margin-right: 350px;
}
.news-latter{
    border: 2px solid rgb(255, 84, 0);
    border-radius:10px ;
    width: 430px;
    height: 380px;
    padding-top: 50px;
    padding-left: 50px;
}
.news-latter h2{
    color: rgb(19, 19, 24);
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 1px;
}
.news-latter p{
    color: rgb(90, 90, 93);
    font-size: 16px;
    font-weight: 400;
}
.news-latter input{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.input input{
    width: 350px;
    height: 52px;
    border: none;

}
.input button{
    border-radius: 8px;
    background: rgb(255, 84, 0);
    width: 393px;
    height: 52px;
    border: none;
    margin-top: 20px;
}
.news-pic-img{
    position:absolute;
}
.news-pic-text{
    border-radius: 5px;
    background: rgb(255, 84, 0);
    width: 324px;
    height: 100px;
    position:relative;
    rotate: -30deg;
    top: 48%;
    left: 105%;
}
.news-pic-text h1{
    padding-top: 5px;
    padding-bottom: 2px;
    text-align: center;
    color: white;
}
.footer{
     align-items: center; 
     text-align: center; 
}
.footer .navbar-img{
    margin-left: 550px;
    margin-top: 120px;
    margin-bottom: 1px;
}
footer p{
    color: rgb(90, 90, 93);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-top: 4px;
    text-align: center;
}
.icon{
    text-align: center;
}
.icon a i{
 margin: 10px;
 font-size: 30px;
 color: black;
}
/* moble device */
@media screen and (max-width:576px){
    
    .navbar{
        padding: 20px;
    }
    .navbar-tag{
        display: none;
        gap: 5px;
    }
    .font-awsome{
        font-size: 30px;
        display:flex;
        list-style: none;
    }
    .banner{
        margin-left: 10px;
        margin-right: 10px;
    }
    .banner-title h3{
        font-size: 35px;
        padding-top: 60px;
    }
    .banner-title p{
        font-size: 14px;
        padding-left: 90px;
        padding-right: 90px;
    }
    .banner-type{
        display: flex;
        flex-direction: column;
        height: 240px;
        margin: 0 100px;
    }
    .banner-type input{
        width: 264px;
        
    }
    .container{
        display: flex;
        flex-direction: column;
        margin:120px 20px ;
    }
    .container-img img{
        width: 100%;
        height: 550px;
    }
    .title h3{
        font-size: 30px;
    }
    .title p{
        font-size:20px;
        margin-left: 10px;
    }
    .item-first{
        display: flex;
        flex-direction: column;
        width: 92%;
        justify-content: space-around;
        margin-left:3px;
        margin-right: 10px;
    
    }
    .item-2{
        margin-left: 25px;
    }
    .item-second{
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        margin-left: 25px;
    }
    .item-3{
        margin-left: 5px;
        background-size: cover;
        width:97%;
        height: 285px;
    }
    .item-4{
        margin-left: 5px;
        background-size: cover;
        width:97%;
        height: 285px;
    }
    .item-5{
        margin-left: 5px;
        background-size: cover;
        width:97%;
        height: 285px;
    }
    .item-thrid{
        display: flex;
        flex-direction:column;
        margin-right: 10px;
        margin-left: 25px;
    }
    .item-6{
        margin-left: 5px;
        background-size: cover;
        width:97%;
        height: 285px;
    }
    .item-7{
        margin-left: 5px;
        background-size: cover;
        width:97%;
        height: 285px;
    }
    .Choose-card{
        display: flex;
        flex-direction: column;
    
    }
    .card-1{
        width: 92%;
        margin-left: 20px;
    }
    .card-2{
        width: 92%;
        margin-left: 20px;
    }
    .card-3{
        width: 92%;
        margin-left: 20px;
    
    }
    .Discounts-card{
        width: 92%;
        margin-left: 25px;
    }
    .Discounts-card-1{
        width:80%;
        left: 18%;
        top: 15%;
    }
    .card-icon{
        gap: 2px;
    }
    .card-icon a i {
        padding-left: 2px;
    }
    .Discounts-card-second{
        width: 92%;
        margin-left: 25px;
    }
    .Discounts-card-2{
        width:80%;
        left: 18%;
        top: 15%;
    }
    .card-icon{
        gap: 2px;
    }
    .card-icon a i {
        padding-left: 2px;
    }
    .Discounts-card-third{
        width: 92%;
        margin-left: 25px;
    }
    .Discounts-card-3{
        width:80%;
        left: 18%;
        top: 15%;
    }
    .card-icon{
        gap: 2px;
    }
    .card-icon a i {
        padding-left: 2px;
    }
    .Discounts-button{
        margin-left:180px;

    }
    .news{
        display: flex;
        flex-direction: column;
    }
    .news-latter{
        margin-left: 50px;
    }
    .news-pic-text{
        margin-top: 70%;
        left: 103%;
    }
    .news-pic-img img{
        width: 92%;
        margin-left: 30px;
    }
    .footer .navbar-img{
        margin-left: 160px;
    }
    
}

   /* table style  */
@media screen and (min-width:577px) and (max-width:992px){
    .navbar{
        padding: 20px;
    }
    .navbar-tag{
        display: none;
        gap: 5px;
    }
    .font-awsome{
        font-size: 30px;
        display:flex;
        list-style: none;
    }
    .banner{
        margin-left: 10px;
        margin-right: 10px;
    }
    .banner-title h3{
        font-size: 45px;
        padding-top: 30px;
    }
    .banner-title p{
        font-size: 14px;
        padding-left: 120px;
        padding-right: 120px;
    }
    .banner-type{
        display: flex;
        flex-direction: column;
        height: 270px;
        margin: 0 140px;
    }
    .banner-type input{
        width: 364px;
        height: 50px;
        
    }
    .banner-type button{
        width: 364px;
        height: 50px;
    }
    .container{
        display: flex;
        flex-direction: column;
        margin:120px 20px ;
    }
    .container{
        display: flex;
        flex-direction: column;
        margin:120px 20px ;
    }
    .container-img img{
        width: 100%;
        height: 550px;
    }
    .title h3{
        font-size: 30px;
    }
    .title p{
        font-size:20px;
    }
    .item-first{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 15px;
        margin-left: 15px;
        
    
    }
    .item-1{
        margin-left: 5px;
        background-size: cover;
        width:97%;
    }
    .item-2{
        margin-left: 5px;
        background-size: cover;
        width:97%;
    }
    .item-second{
        display: flex;
        flex-direction: column;
        /* margin-right: 60px;
        margin-left: 25px; */
        align-items: center;
        margin-right: 15px;
        margin-left: 15px;
    }
    .item-3{
        margin-left: 5px;
        background-size: cover;
        width:97%;
        height: 285px;
    }
    .item-4{
        margin-left: 5px;
        background-size: cover;
        width:97%;
        height: 285px;
    }
    .item-5{
        margin-left: 5px;
        background-size: cover;
        width:97%;
        height: 285px;
    }
    .item-thrid{
        display: flex;
        flex-direction:column;
        margin-right: 10px;
        margin-left: 25px;
    }
    .item-6{
        margin-left: 5px;
        background-size: cover;
        width:97%;
        height: 285px;
    }
    .item-7{
        margin-left: 5px;
        background-size: cover;
        width:97%;
        height: 285px;
    }
    .Choose-card{
        display: flex;
        flex-direction: column;
    
    }
    .card-1{
        margin-left: 30px;
        width: 92%;
    }
    .card-2{
        margin-left: 30px;
        width: 92%;
    }
    .card-3{
        margin-left: 30px;
        width: 92%;
    }
    .Discounts-card{
        width: 92%;
        margin-left: 25px;
    }
    .Discounts-card-1{
        width:80%;
        left: 18%;
        top: 15%;
    }
    .card-icon{
        gap:7px;
    }
    .card-icon a i {
        padding-left: 10px;
    }
    .Discounts-card-second{
        width: 92%;
        margin-left: 25px;
    }
    .Discounts-card-2{
        width:80%;
        left: 18%;
        top: 15%;
    }
    .card-icon{
        gap:7px;
    }
    .card-icon a i {
        padding-left: 10px;
    }
    .Discounts-card-third{
        width: 92%;
        margin-left: 25px;
    }
    .Discounts-card-3{
        width:80%;
        left: 18%;
        top: 15%;
    }
    .card-icon{
        gap:7px;
    }
    .card-icon a i {
        padding-left: 10px;
    }
    .Discounts-button{
        margin-left: 270px;
    }
    .news{
        display: flex;
        flex-direction: column;
    }
    .news-latter{
        margin-left: 30px;
        width: 152%;
    }
    .news-pic-text{
        margin-top: 60%;
        left: 93%;
    }
    .news-pic-img img{
        width: 98%;
        margin-left: 30px;
    }
    .footer .navbar-img{
        margin-left: 260px;
    }
}